*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 10px;
}

body{
  width: 100%;
  max-width: 1280px;

  background-image: url("../assets/criptografiagif.gif");
  background-size: cover;
  margin: 0 .5rem 0 .5rem;
}

header{
  display: inline-block;
  margin: 3rem 0 0 5rem;
}

.logo-alura{
  display: inline-block;
  width: 10rem;
}

main{
  display: flex;
  justify-content: center;
  padding-bottom: 7.4rem;
  width: auto;
  padding: 0;
}

.content{
  margin-top: 2rem;
}

.msg{
  color: #FFF;
  font-size: 1.1rem;
}

.wrapper-sections{
  display: flex;
  gap: 3rem;
}



section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#campo-text_area{
  border: none;
  border-radius: 3.2rem;

  padding: 2rem;

  width: 48rem;
  height: 25rem;

  display: block;
  
  background: #e7ecfd;

  opacity: .7;
  resize: none;/*tira os tracinhos do textarea*/

  font-size: 2rem;
  font-weight: 800;
 
}


 #caixa-botoes_principais{
  text-align: center;

  padding: 0 15px 0 15px;
  margin-bottom: 0;
  padding-bottom: 0; 
}

#caixa-botoes_principais form{
  padding-top: .8rem;
}



/* -- SESSÃO DO TEXTO CRIPTOGRAFADO -- */

#sessao-retorna_texto{
  width: 48rem;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 1.2rem;

  border: none;

  opacity: .7;

  border-radius: 3.2rem;
}



#sessao-retorna_texto form{
  text-align: center;
}


#texto_criptografado{
  width: 48rem;
  height: 25rem;
  border: none;
  border-radius: 3.2rem;
  resize: none;
  background: #e7ecfd;


  padding: 2rem;

  font-size: 2rem;
  font-weight: 800;
}


#msg-nao_encontrada{
  text-align: center;
  margin-bottom: 5rem;
}
#msg-nao_encontrada h5{
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#msg-nao_encontrada p{
  font-size: 2.1rem;
}

.botao{
  width: 22.8rem;
  height: 6.7rem;

  border-radius: 2.4rem;
  border: none;

  background: #D8DFE8;

  opacity: .7;

  font-size: 1.6rem;
  font-weight: 800;

  transition: .6s all;
}

.botao:hover{
  background: orangered;
  color: white;
}








footer{
  margin-top: 8rem;
  text-align: center;
  border: none;
  width: 100%;
  padding: 0;
}

footer h6{
  
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #000;
}

.invisivel{
  display: none;
}

.danger{
  color: red;
}
