*{
  box-sizing: border-box;
}

body{
  margin: 0 5px 0 5px;
  background: #e7ecfd; 
}

header{
  width: 63.7%;
  height: 70px;
  display: inline-block;
  margin: 5px;
}

#logo-alura{
  display: inline-block;
  width: 10px;
  margin-left: 5em;
  margin-top: 0.5em;
  padding-top: 5px;
}

main{
  display: flex;
  justify-content: center;
  padding-bottom: 74px;
  width: auto;
  padding: 0;
}

#sessao-text_area{
  margin-left: 60px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #e7ecfd;
}

section form{
  background: #e7ecfd;
}

#campo-text_area{
  border: none;
  padding: 5px;
  width: 480px;
  height: 280px;
  display: block;
  font-size: 20px;
  background: #e7ecfd;
  margin: 60px 60px 0 180px;
  padding: 0;
  resize: none;/*tira os tracinhos do textarea*/
}

#caixa-msg{
  padding: 0;
  margin: 0;
}

#caixa-msg img{
  padding-bottom: 5px;
  margin-right: 5px;
  width: 12px;
}

.msg{
  padding: 20px 20px 0 133px;
  left: 10px;
  color: #495057;
  margin-left: 54px;
  font-size: 11px;
}

 #caixa-botoes_principais{
  text-align: center;
  margin-left: 130px;
  margin-right: 20px;
  padding: 0 15px 0 15px;
  margin-bottom: 0;
  padding-bottom: 0; 
}

#caixa-botoes_principais form{
  padding-top: 8px;
}

#sessao-retorna_texto{
  width: 350px;
  height: 500px;
  display: block;
  float: right;
  border: none;
  background: #e7ecfd;
  border-radius: 32px;

  border: 3px solid transparent;
}

#sessao-retorna_texto:hover{
  border: 3px solid #0A3871;
}

#sessao-retorna_texto form{
  text-align: center;
}

#sessao-retorna_texto #botao-copiar{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
  padding-bottom: 0;
}

#campo-texto_criptografado{
  display: block;
  position: relative;
  text-align: center;
  width: 330px;
  height: 480px;
  border: none;
  border-radius: 32px;
  background: #e7ecfd;
  padding: 5px;
  margin: 5px 5px 0 5px;
}

#imagem-boneco{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#texto_criptografado{
  width: 320px;
  height: 320px;
  resize: none;
  background: #e7ecfd;
  border: none;
  font-size: 18px;
}

#caixa-botao_copiar{
  margin-top: 47px;
  margin-left: 20px;
  margin-right: 40px;
  
}
#msg-nao_encontrada{
  text-align: center;
  margin-bottom: 50px;
}
#msg-nao_encontrada h5{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}
#msg-nao_encontrada p{
  font-size: 21px;
  padding-bottom: 10px;
}

.botao{
  width: 228px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid #0A3871;
  background: #D8DFE8;
  color: #0A3871;
  
}

.botao:hover{
  background: #0A3871;
  color: white;
}

footer{
  text-align: center;
  border: none;
  width: 100%;
  height: 45px;
  padding: 0;
  margin-top: 20px;
}

footer h6{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding-top: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #495057;
}

.invisivel{
  display: none;
}

.letra_invalida{
  color: red;
}
