*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 10px;
}

body{
  width: 100%;
  height: 100%;
  max-width: 1280px;

  margin: 0 auto;

  background-image: url("../assets/criptografiagif.gif");
  background-size: cover;
}

header{
  display: inline-block;
  margin: 2.3% 0 0 3.8%;
}

.logo-alura{
  display: inline-block;
  width: 10rem;
}

main{
  display: flex;
  justify-content: center;
  width: auto;
}

.content{
  width: 100%;
  margin-top: 2rem;
}

.msg{
  color: #FFF;
  font-size: 1.1rem;
  margin-left: 10.8%;
}

.wrapper-sections{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}


/* -- SESSÃO DO TEXTO  -- */

#sessao-text_area{
  width: 38%;
}

section form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}

#campo-text_area{
  border: none;
  border-radius: 3.2rem;

  padding: 2rem;

  width: inherit;
  height: 25rem;

  display: block;
  
  background: #e7ecfd;

  opacity: .7;
  resize: none;/*tira os tracinhos do textarea*/

  font-size: 2rem;
  font-weight: 800;
 
}


 #caixa-botoes_principais{
  text-align: center;
  width: 100%;
}

#caixa-botoes_principais form{
  padding-top: .8rem;
}



/* -- SESSÃO DO TEXTO CRIPTOGRAFADO -- */

#sessao-retorna_texto{
  width: 38%;
  height: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 1.2rem;

  border: none;

  opacity: .7;

  border-radius: 3.2rem;
}



#sessao-retorna_texto form{
  text-align: center;
  width: 100%;
}


#texto_criptografado{
  width: 100%;
  height: 25rem;
  border: none;
  border-radius: 3.2rem;
  resize: none;
  background: #e7ecfd;

  padding: 2rem;

  font-size: 2rem;
  font-weight: 800;
}


#msg-nao_encontrada{
  text-align: center;
  margin-bottom: 5rem;
}
#msg-nao_encontrada h5{
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#msg-nao_encontrada p{
  font-size: 2.1rem;
}

.botao{
  width: 45%;
  height: 6.7rem;

  border-radius: 2.4rem;
  border: none;

  background: #D8DFE8;

  opacity: .7;

  font-size: 1.6rem;
  font-weight: 800;

  transition: .6s all;
}

.botao:hover{
  background: orangered;
  color: white;
}


footer{
  margin-top: 8rem;
  text-align: center;
  border: none;
  width: 100%;
  padding: 0;
}

footer h6{
  
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #000;
}

.invisivel{
  display: none;
}

.danger{
  color: red;
}





/* -- MEDIAS QUERIES -- */


@media (max-width:980px){
  .botao{
    font-size: 1.5rem;
  }

  #sessao-text_area{
    width: 45%;
  }
  
  #sessao-text_area form{
    gap: .6rem;
  }
  
  #sessao-retorna_texto{
    width: 45%;
  }
}

@media (max-width:780px){

  .logo-alura{
    width: 9rem;
  }

  .msg{
    margin-left: 14.8%;
  }

  .wrapper-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
  }
  
  
  #sessao-text_area{
    width: 70%;
  }
  
  #sessao-text_area form{
    gap: .6rem;
  }
  
  #sessao-retorna_texto{
    width: 70%;
  }
  
}

@media (max-width:580px){
  .logo-alura{
    width: 8rem;
  }
}

@media (max-width:480px){
  .logo-alura{
    width: 7rem;
  }

  .msg{
    margin-left: 10.8%;
  }

  #sessao-text_area{
    width: 80%;
  }
  
  #sessao-text_area form{
    gap: .6rem;
  }
  
  #sessao-retorna_texto{
    width: 80%;
  }
  
}

@media (max-width:380px){

  .msg{
    font-size: .9rem;
  }

  .msg img{
    width: 1.6rem;
  }

  .logo-alura{
    width: 6rem;
  }

  .botao{
    font-size: 1.2rem;
    height: 5.7rem;
  }
}

@media (max-width:290px){
  .logo-alura{
    width: 5rem;
  }

  .botao{
    font-size: 1rem;
    height: 4.7rem;
    border-radius: 1.4rem;
  }
}




